<div class="container">
  <%= image_tag 'logo.jpg' %>
  <h1>Days without drama:</h1>
  <h2><%= @days_without_drama %></h2>

  <h3>
  Drama Record:
  </h3>
  <div id="dramas" class="row">
    <%= render partial: 'drama', collection: @dramas %>
  </div>
</div>
