#dashboard
  = image_tag 'logo.jpg'
  %h1 Days without drama:
  %h2= @days_without_drama
  %h3
    Drama Record:
  #dramas.row
    .span8.offset2
      %table.table.table-striped
        %tbody= render partial: 'drama', collection: @dramas
