.row
  %h1 Submitted Drama

  %table.table.table-striped
    %tbody= render partial: 'drama', collection: @dramas

- content_for :scripts do
  :javascript
    $( function() {
      $('tr.drama-row').each(function (i, dramaRow) {
        view = new Voter.Views.UpvoteLinkView({el: $(dramaRow)});
      });
    });
