#dashboard {
  text-align: center;

  h1 {
    font-size: 60px;
    line-height: 60px;
  }
  h2 {
    line-height: 90px;
    font-size: 90px;
  }

  h3 {
    margin: 20px 0 20px 0;
  }
}

#dramas {
  .drama {
    padding: 10px 0 10px 0;
  }

  .date {
    width: 90px;
  }
}
