<!DOCTYPE html>
<html>
<head>
  <title>Crowdrama</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>Powered by Hormones... and Alcohol</footer>
</body>
</html>
